{
    "globals": {
        "__COMMIT_HASH__": true
    },
    "plugins": ["sonarjs"],
    "extends": [
        "plugin:sonarjs/recommended",
        "semistandard"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
      "sourceType": "module",
      "allowImportExportEverywhere": true
    }
}