@import 'src/App.module.scss';

input::placeholder {
    color: $color-grey;
}

/* remove glow */

select,
input {
    outline: none;
    border: 2px solid rgba(255,255,255,.5);
}

.primary {
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Rajdhani", monospace;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #171741;
  width: inherit;
}

.primaryError {
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Rajdhani", monospace;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #171741;
  width: inherit;
  border: 2px solid $color-error;
}
    
.primary:focus, .enterAccount:focus {
    border: 2px solid $color-light-blue;
}

.enterAccount {
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Rajdhani", monospace;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #171741;
  width: inherit;
  text-align: center;
}

.enterAccountError{
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Rajdhani", monospace;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #171741;
  width: inherit;
  text-align: center;
  border: 2px solid $color-error;
}