node_modules/
**/node_modules/
**/dist/
**/build/
**/*.wasm
**/*.abi

**/Makefile
**/CMakeCache.txt
**/CMakeFiles/**
**/CMakeFiles
**/cmake_install.cmake
**/CMakeLists.txt


.idea/
node_modules/
build/
extensions/
.env
models/boxmaps/50-zeusrepoeos.json

contracts/eos/compile_commands.json
contracts/eos/*service/*service.cpp
contracts/eos/dappservices/*